@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,100;1,300&family=M+PLUS+Rounded+1c:wght@100;300;400;500&display=swap");

.icon {
  display: inline;
  width: 100px;
  height: 100px;
}

.blue-snake {
  animation: blue-snake 7s infinite;
  animation-delay: 1s;
}

@keyframes blue-snake {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  35% {
    transform: translateX(0);
    opacity: 1;
  }

  55% {
    transform: translateX(50px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}

.green-snake {
  animation: green-snake 7s infinite;
  animation-delay: 1s;
}

@keyframes green-snake {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  35% {
    transform: translateX(0);
    opacity: 1;
  }

  55% {
    transform: translateX(-50px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}

h1,
h2 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

h3 {
  padding-bottom: 20px;
}

h3,
h4 {
  font-weight: 400;
}

span {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 17px;
}

p {
  font-family: "Lato", sans-serif;
  letter-spacing: 0.5px;
  word-spacing: 4px;
}

ul {
  list-style-type: none;
}

li {
  padding-bottom: 10px;
  font-weight: 500;
}

.list-group-item {
  font-weight: 500;
  font-size: 17px;
}

/* carosele */
.starting-round-carousel-img {
  height: 300px;
  width: 300px;
  margin: 0 auto;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: black;
  opacity: 0.7;
  width: 35px;
  height: 70px;
  margin: auto;
}

.carousel-control-prev {
  left: -10px;
}

.carousel-control-next {
  right: 10px;
}

.carousel-indicators {
  background-color: black;
  bottom: -50px;
}

.amount {
  float: right;
}

.fa-arrow-up {
  margin: auto;
  color: white;
  width: 60px;
  padding: 10px;
  text-align: center;
  font-size: 42px;
  border: 1px solid;
  background-color: rgb(73, 68, 68);
}

.back-to-top-arrow {
  position: absolute;
  right: 10px;
  padding-bottom: 10px;
}

@media only screen and (min-width: 600px) {
  .starting-round-carousel-img {
    height: 450px;
    width: 450px;
  }
}
